/* Contact-section */
#contact-section {
    font-family: "Poppins", sans-serif;
}

.contact-heading{
    position: relative;
    margin-bottom: 20px;
    font-size: 30px;
    color: #352d08;
  }
  .contact-heading::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 35px;
    background-color:#352d08;
    left: -10px;
  }
  .contact-box {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact-left {
    flex-basis: 45%;
    padding: 40px 60px;
  }
  .contact-left h1{
    color: #352d08;
  }
  .map{
    flex-basis: 45%;
    
  }
  .map iframe{
    filter: invert(100%);
  }
  /* .contact-right-section {
    flex-basis: 30%;
    padding: 30px;
    background: #352d08;
    color: #fff;
  }
  .contact-right-info div i {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .contact-right-info div i:hover {
    transform: scale(1.2);
    color: #18f98f;
  } */
  
  h1 {
    margin-bottom: 10px;
  }
  .contact-container p {
    margin-bottom: 40px;
  }
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .input-row .input-group {
    flex-basis: 45%;
  }
  input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    resize: none;
    font-family: "Poppins", sans-serif;
    color: #352d08;
  }
  label {
    margin-bottom: 6px;
    display: block;
    color: #352d08;
  }
  .form-submit {
    background: #352d08;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 35px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
  }
  .contact-left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .contact-left h3 {
    font-weight: 600;
    margin-bottom: 30px;
  }
  /* .contact-right-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .address {
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0 20px;
  }
  

  .contact-right-info div a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
  }
  .fa-envelope{
    margin-right: 10px;
  }
  .fa-phone-square-alt{
    margin-right: 10px;
  }
  .contact-right-info div p i:hover {
    transform: scale(1.4);
  } */

  @media (max-width: 768px) {
    .contact-box {
     flex-direction: column;
    }
  }